<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuyWhoChills.com</title>
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
    <div id="body">

        <div class="navigation-bar">
            THE Guy Who Chills
        </div>

        <div class="main">
            Welcome To The Club
        </div>

        <div class="list-of-albums">
            <h3 class="albums">Albums</h3>
            <h4>Junior The Apex</h4>
            <h6>Songs</h6>
                <ul>
                    <li>City</li>
                    <li>Red Red Flag</li>
                    <li>A Song Called Woah</li>
                    <li>Susie Jam</li>
                    <li>Talk To Me</li>
                    <li>Teenage Romantic</li>

            </ul>
        </div>





    </div>
</body>
</html>